<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681650672596-ddgbfrm58ajfs3keiat40b1bs5p54291.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681650672596-ddgbfrm58ajfs3keiat40b1bs5p54291</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>681650672596-5m4jegho8h7btut7k6eerqu96mpirmsc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXIu16vLotgDeUtLDKy6KZPiLsZ1wP5B0</string>
	<key>GCM_SENDER_ID</key>
	<string>681650672596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neighborservice.nsapp</string>
	<key>PROJECT_ID</key>
	<string>neighbor-service-app</string>
	<key>STORAGE_BUCKET</key>
	<string>neighbor-service-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681650672596:ios:a6aebe847add2f1f41fc41</string>
	<key>DATABASE_URL</key>
	<string>https://neighbor-service-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>